*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #ff94a7;
}

nav {
	text-align: center;
	display: block;
	padding: 10px 5px;
	background-color: white;
}

nav > li {
	display: inline;
}

nav > li a{
	color: black;
	text-decoration: none;
	margin: 2vh;
	line-height: 20px;
	font-size: 24px;
	padding: 15px 10px;
	font-family: 'B612', sans-serif;
}

nav > li:hover {
	
	color: white;
	padding: 10px 5px;
	border-bottom: 4px solid #fa7c92;
	background-color: #f5f0f3;
}
body {
	height: 100%;
	width: 100%;
	line-height: 1.5;
}

h1 {
	font-size: 40px;
	color: #f5627d;
}

section {
	margin: 20px;
	font-family: 'Noto Sans', sans-serif;
	color: black;
	background-color: #f7edf6;
	margin-top: 20px;
	line-height: 40px;
	padding: 30px 30px; /*control the internal distance*/
}