*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f4eeff; 
}

header {
	text-align: center;
	font-size: 4vh;
	padding: 4vh 0;
	color: #6c5b7b;
	border-style: solid;
	border-width: 4px;
	border-color: #dcedc1;
}

nav {
	text-align: center;
	background-color: #ffc7c7;
	padding: 4px;
}

nav > div {
	display: inline-block;
	color: white;
	margin: 2vh;
	font-size: 1.5vw;
	font-family: 'Source Code Pro', monospace;
}

nav > div:hover {
	background-color: #ffe2e2;
	color: #f6f6f6;
	border-bottom: 4px solid #8785a2;
}

body {
	height: 100%;
	width: 100%;
	font-size: 2.5vh;
	font-family: serif;
	line-height: 2;
}

h1 {
	margin-left: 30px;
	color: #c86b85;
	font-family: 'Source Code Pro', monospace;
}

section#Eng {
	width: 700px;
	height: 600px;
	margin-left: 30px;
	background-color: #95e1d3;
	color: #8785a2;
}

h2 {
	text-align: center;
	color: #c86b85;
	font-family: 'Source Code Pro', monospace;
}

section#Chi {
	width: 700px;
	height: 600px;
	margin-left: 620px;
	background-color: #95e1d3;
	color: #8785a2; 
}