/*back to the basic format*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #ff94a7; /*background colour of the website*/

}


nav {
	text-align: center; /*put the text at center*/
	display: block;
	padding: 10px 5px;
	background-color: white;
}

nav > li {
	display: inline;
}

nav > li a{
	color: black;
	text-decoration: none;
	margin: 2vh;
	line-height: 20px;
	font-size: 24px;
	padding: 15px 10px;
	font-family: 'B612', sans-serif;
}
/*background colour is changed when the hover is clicked.*/
nav > li:hover {
	
	color: white;
	padding: 10px 5px;
	border-bottom: 4px solid #fa7c92;
	background-color: #fffad6;
}

body {
	height: 100%;
	width: 100%;
	line-height: 2;
}

h1 {
	position: relative;
	left:  65vw;
	top: 40vh;
	color: white;
	font-size: 30px;
	font-family: 'Yusei Magic', sans-serif; 
}

article > img {
	max-height: 100%; /*maxium height of the imag*/ 
    max-width: 100%; /*maxium width of the image*/
    width: auto;
    height: auto;
    position: absolute;   
    left: 0; /*image left*/
    margin: auto; 
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); /*change the shape of the image*/

}

