*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body{
	height: 100%;
	width:100%;
}
div{
	font-size: 2.4vh;
	padding: : 1vh 2vw;
	height: 100px;
}

div.odd {
	background-color: orange;
}

div.even {
	background-color: blue;
}