*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body{
	height: 100%;
	width:100%;
}

nav {
	position: fixed;
	top: 10vh;
	left: 20vw;
	width: 70px;
	background-color: purple;
	color: white;
	font-family: sans-serif;
}

nav > div {
	padding: 1vh 0;
	text-align: center;
}

nav > div:hover {
	background-color: white;
	color: purple;
	border-bottom: 4px solid red;
}